@model UserRoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.UserName</h1>


<div class="container">

    <form asp-action="Edit" method="post" >

        <div>
            <label asp-for="UserName" class="col-form-label"></label>
            <input  asp-for="UserName" class="form-control" readonly/>
        </div>

        <h3>Manage @Model.UserName Roles</h3>
        <hr/>

        @for(int i = 0; i < Model.Roles.Count; i++)
        {
          <div>
              <input asp-for="@Model.Roles[i].Id" hidden/>
              <input asp-for="@Model.Roles[i].Name" hidden/>
              <input asp-for="@Model.Roles[i].IsSelected" class="col-form-label"/>
              <label asp-for="@Model.Roles[i].Name" class="col-form-label">@Model.Roles[i].Name</label>
              <span asp-validation-for="@Model.Roles[i].IsSelected"></span>
          </div>  
        }
        <br/>

        <div class="input-group mt-2 justify-content-center">

            <button type="submit" class="btn btn-success m-2 rounded-2">Save</button>
            <a asp-action="Index" class="btn  btn-outline-dark m-2 rounded-2">Back To List </a>


        </div>
    </form>
</div>
